html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}

/* Write your solution here */

@media (min-width: 405px) and (max-width: 1120px) {
  #monkey {
    top: 0;
    right: 0;
  }
}